name: Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Install Clojure
      uses: DeLaGuardo/setup-clojure@13
      with:
        cli: 'latest'

    - name: Run tests
      run: clj -M:test -m datachannel.test-runner
